{
  "1_2021": {
    "mrids":{"max": 20075, "most": 20073, "min": 20074},
    "data": "MTOMcsvOutput_jan21.csv",
    "name": "1_2021"
  },
  "2_2021": {
    "mrids":{"max": 3135, "most": 3133, "min": 3134},
    "data": "MTOMcsvOutput_feb21.csv",
    "name": "2_2021"
  },
  "3_2021": {
    "mrids":{"max": 3138, "most": 3136, "min": 3137},
    "data": "MTOMcsvOutput_mar21.csv",
    "name": "3_2021"
  }
}