{
  "10_2005": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": 1478,
      "min": 1479,
      "most": 1477
    },
    "name": "10_2005"
  },
  "11_2005": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1481
    },
    "name": "11_2005"
  },
  "12_2005": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1483
    },
    "name": "12_2005"
  },
  "1_2005": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": 1431,
      "min": 1430,
      "most": 1427
    },
    "name": "1_2005"
  },
  "2_2005": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1438
    },
    "name": "2_2005"
  },
  "3_2005": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1445
    },
    "name": "3_2005"
  },
  "4_2005": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": 1456,
      "min": 1455,
      "most": 1457
    },
    "name": "4_2005"
  },
  "5_2005": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1463
    },
    "name": "5_2005"
  },
  "6_2005": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1465
    },
    "name": "6_2005"
  },
  "7_2005": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1467
    },
    "name": "7_2005"
  },
  "8_2005": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": 1473,
      "min": 1472,
      "most": 1471
    },
    "name": "8_2005"
  },
  "9_2005": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1475
    },
    "name": "9_2005"
  }
}