{
  "10_2011": {
    "data": "ESPcsvOutput_oct11.csv",
    "mrids": {
      "max": 2111,
      "min": 2110,
      "most": 2109
    },
    "name": "10_2011"
  },
  "11_2011": {
    "data": "ESPcsvOutput_nov11.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2112
    },
    "name": "11_2011"
  },
  "12_2011": {
    "data": "ESPcsvOutput_dec11.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2113
    },
    "name": "12_2011"
  },
  "1_2011": {
    "data": "ESPcsvOutput_jan11.csv",
    "mrids": {
      "max": 2089,
      "min": 2088,
      "most": 2087
    },
    "name": "1_2011"
  },
  "2_2011": {
    "data": "ESPcsvOutput_feb11.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2091
    },
    "name": "2_2011"
  },
  "3_2011": {
    "data": "ESPcsvOutput_mar11.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2093
    },
    "name": "3_2011"
  },
  "4_2011": {
    "data": "ESPcsvOutput_apr11.csv",
    "mrids": {
      "max": 2096,
      "min": 2097,
      "most": 2095
    },
    "name": "4_2011"
  },
  "5_2011": {
    "data": "ESPcsvOutput_may11.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2098
    },
    "name": "5_2011"
  },
  "6_2011": {
    "data": "ESPcsvOutput_jun11.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2100
    },
    "name": "6_2011"
  },
  "7_2011": {
    "data": "ESPcsvOutput_jul11.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2102
    },
    "name": "7_2011"
  },
  "8_2011": {
    "data": "ESPcsvOutput_aug11.csv",
    "mrids": {
      "max": 2106,
      "min": 2105,
      "most": 2104
    },
    "name": "8_2011"
  },
  "9_2011": {
    "data": "ESPcsvOutput_sep11.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2108
    },
    "name": "9_2011"
  }
}