{
  "1_2020": {
    "mrids":{"max": 3111, "most": 3109, "min": 3110},
    "data": "MTOMcsvOutput_jan20.csv",
    "name": "1_2020"
  },
  "2_2020": {
    "mrids":{"max": null, "most": 3113, "min": null},
    "data": "MTOMcsvOutput_feb20.csv",
    "name": "2_2020"
  },
  "3_2020": {
    "mrids":{"max": null, "most": 3114, "min": null},
    "data": "MTOMcsvOutput_mar20.csv",
    "name": "3_2020"
  },
  "4_2020": {
    "mrids":{"max": 3115, "most": 3117, "min": 3116},
    "data": "MTOMcsvOutput_apr20.csv",
    "name": "4_2020"
  },
  "5_2020": {
    "mrids":{"max": null, "most": 3118, "min": null},
    "data": "MTOMcsvOutput_may20.csv",
    "name": "5_2020"
  },
  "6_2020": {
    "mrids":{"max": null, "most": 3119, "min": null},
    "data": "MTOMcsvOutput_jun20.csv",
    "name": "6_2020"
  },
  "7_2020": {
    "mrids":{"max": null, "most": 3120, "min": null},
    "data": "MTOMcsvOutput_jul20.csv",
    "name": "7_2020"
  },
  "8_2020": {
    "mrids":{"max": 3123, "most": 3121, "min": 3122},
    "data": "MTOMcsvOutput_aug20.csv",
    "name": "8_2020"
  },
  "9_2020": {
    "mrids":{"max": null, "most": 3125, "min": null},
    "data": "MTOMcsvOutput_sep20.csv",
    "name": "9_2020"
  },
  "10_2020": {
    "mrids":{"max": 3129, "most": 3127, "min": 3128},
    "data": "MTOMcsvOutput_oct20.csv",
    "name": "10_2020"
  },
  "11_2020": {
    "mrids":{"max": null, "most": 3130, "min": null},
    "data": "MTOMcsvOutput_nov20.csv",
    "name": "11_2020"
  },
  "12_2020": {
    "mrids":{"max": null, "most": 3132, "min": null},
    "data": "MTOMcsvOutput_dec20.csv",
    "name": "12_2020"
  }
}