{
  "10_2000": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": 467,
      "min": 466,
      "most": 465
    },
    "name": "10_2000"
  },
  "11_2000": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 469
    },
    "name": "11_2000"
  },
  "12_2000": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 471
    },
    "name": "12_2000"
  },
  "1_2000": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": 300,
      "min": 401,
      "most": 299
    },
    "name": "1_2000"
  },
  "2_2000": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 405
    },
    "name": "2_2000"
  },
  "3_2000": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 410
    },
    "name": "3_2000"
  },
  "4_2000": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": 418,
      "min": 417,
      "most": 414
    },
    "name": "4_2000"
  },
  "5_2000": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 422
    },
    "name": "5_2000"
  },
  "6_2000": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": 427,
      "min": 428,
      "most": 424
    },
    "name": "6_2000"
  },
  "7_2000": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 433
    },
    "name": "7_2000"
  },
  "8_2000": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": 436,
      "min": 437,
      "most": 435
    },
    "name": "8_2000"
  },
  "9_2000": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 462
    },
    "name": "9_2000"
  }
}