{
  "1_2021": {
    "mrids":{"max": 20075, "most": 20073, "min": 20074},
    "data": "ESPcsvOutput_jan21.csv",
    "name": "1_2021"
  },
  "2_2021": {
    "mrids":{"max": 3135, "most": 3133, "min": 3134},
    "data": "ESPcsvOutput_feb21.csv",
    "name": "2_2021"
  },
  "3_2021": {
    "mrids":{"max": 3138, "most": 3136, "min": 3137},
    "data": "ESPcsvOutput_mar21.csv",
    "name": "3_2021"
  },
  "4_2021": {
    "mrids":{"max": 3141, "most": 3139, "min": 3140},
    "data": "ESPcsvOutput_apr21.csv",
    "name": "4_2021"
  },
  "5_2021": {
    "mrids":{"max": 3144, "most": 3142, "min": 3143},
    "data": "ESPcsvOutput_may21.csv",
    "name": "5_2021"
  }
}