{
  "10_2001": {
    "data": "MTOMcsvOutput_oct01.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 898
    },
    "name": "10_2001"
  },
  "11_2001": {
    "data": "MTOMcsvOutput_nov01.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1001
    },
    "name": "11_2001"
  },
  "12_2001": {
    "data": "MTOMcsvOutput_dec01.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1003
    },
    "name": "12_2001"
  },
  "1_2001": {
    "data": "MTOMcsvOutput_jan01.csv",
    "mrids": {
      "max": 478,
      "min": 477,
      "most": 474
    },
    "name": "1_2001"
  },
  "2_2001": {
    "data": "MTOMcsvOutput_feb01.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 480
    },
    "name": "2_2001"
  },
  "3_2001": {
    "data": "MTOMcsvOutput_mar01.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 482
    },
    "name": "3_2001"
  },
  "4_2001": {
    "data": "MTOMcsvOutput_apr01.csv",
    "mrids": {
      "max": 488,
      "min": 489,
      "most": 485
    },
    "name": "4_2001"
  },
  "5_2001": {
    "data": "MTOMcsvOutput_may01.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 491
    },
    "name": "5_2001"
  },
  "6_2001": {
    "data": "MTOMcsvOutput_jun01.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 867
    },
    "name": "6_2001"
  },
  "7_2001": {
    "data": "MTOMcsvOutput_jul01.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 889
    },
    "name": "7_2001"
  },
  "8_2001": {
    "data": "MTOMcsvOutput_aug01.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 891
    },
    "name": "8_2001"
  },
  "9_2001": {
    "data": "MTOMcsvOutput_sep01.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 896
    },
    "name": "9_2001"
  }
}