{
  "10_2020": {
    "data": "MTOMcsvOutput_oct20.csv",
    "mrids": {
      "max": 3129,
      "min": 3128,
      "most": 3127
    },
    "name": "10_2020"
  },
  "11_2020": {
    "data": "MTOMcsvOutput_nov20.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3130
    },
    "name": "11_2020"
  },
  "12_2020": {
    "data": "MTOMcsvOutput_dec20.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3132
    },
    "name": "12_2020"
  },
  "1_2020": {
    "data": "MTOMcsvOutput_jan20.csv",
    "mrids": {
      "max": 3111,
      "min": 3110,
      "most": 3109
    },
    "name": "1_2020"
  },
  "2_2020": {
    "data": "MTOMcsvOutput_feb20.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3113
    },
    "name": "2_2020"
  },
  "3_2020": {
    "data": "MTOMcsvOutput_mar20.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3114
    },
    "name": "3_2020"
  },
  "4_2020": {
    "data": "MTOMcsvOutput_apr20.csv",
    "mrids": {
      "max": 3115,
      "min": 3116,
      "most": 3117
    },
    "name": "4_2020"
  },
  "5_2020": {
    "data": "MTOMcsvOutput_may20.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3118
    },
    "name": "5_2020"
  },
  "6_2020": {
    "data": "MTOMcsvOutput_jun20.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3119
    },
    "name": "6_2020"
  },
  "7_2020": {
    "data": "MTOMcsvOutput_jul20.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3120
    },
    "name": "7_2020"
  },
  "8_2020": {
    "data": "MTOMcsvOutput_aug20.csv",
    "mrids": {
      "max": 3123,
      "min": 3122,
      "most": 3121
    },
    "name": "8_2020"
  },
  "9_2020": {
    "data": "MTOMcsvOutput_sep20.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3125
    },
    "name": "9_2020"
  }
}