{
  "10_2018": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": 3077,
      "min": 3076,
      "most": 3075
    },
    "name": "10_2018"
  },
  "11_2018": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3080
    },
    "name": "11_2018"
  },
  "12_2018": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3081
    },
    "name": "12_2018"
  },
  "1_2018": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": 3050,
      "min": 3051,
      "most": 3049
    },
    "name": "1_2018"
  },
  "2_2018": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3052
    },
    "name": "2_2018"
  },
  "3_2018": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3053
    },
    "name": "3_2018"
  },
  "4_2018": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": 3059,
      "min": 3058,
      "most": 3057
    },
    "name": "4_2018"
  },
  "5_2018": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3062
    },
    "name": "5_2018"
  },
  "6_2018": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3063
    },
    "name": "6_2018"
  },
  "7_2018": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3064
    },
    "name": "7_2018"
  },
  "8_2018": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": 3066,
      "min": 3067,
      "most": 3065
    },
    "name": "8_2018"
  },
  "9_2018": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3071
    },
    "name": "9_2018"
  }
}