{
  "10_1997": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 84
    },
    "name": "10_1997"
  },
  "11_1997": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 86
    },
    "name": "11_1997"
  },
  "12_1997": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 88
    },
    "name": "12_1997"
  },
  "2_1997": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 39
    },
    "name": "2_1997"
  },
  "3_1997": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": 46,
      "min": null,
      "most": 44
    },
    "name": "3_1997"
  },
  "4_1997": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": 51,
      "min": 52,
      "most": 50
    },
    "name": "4_1997"
  },
  "5_1997": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 56
    },
    "name": "5_1997"
  },
  "6_1997": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": 61,
      "min": 62,
      "most": 60
    },
    "name": "6_1997"
  },
  "7_1997": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 64
    },
    "name": "7_1997"
  },
  "8_1997": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 68
    },
    "name": "8_1997"
  },
  "9_1997": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 81
    },
    "name": "9_1997"
  }
}