{
  "10_2003": {
    "data": "MTOMcsvOutput_oct03.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1289
    },
    "name": "10_2003"
  },
  "11_2003": {
    "data": "MTOMcsvOutput_nov03.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1291
    },
    "name": "11_2003"
  },
  "12_2003": {
    "data": "MTOMcsvOutput_dec03.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1293
    },
    "name": "12_2003"
  },
  "1_2003": {
    "data": "MTOMcsvOutput_jan03.csv",
    "mrids": {
      "max": 1055,
      "min": 1056,
      "most": 1052
    },
    "name": "1_2003"
  },
  "2_2003": {
    "data": "MTOMcsvOutput_feb03.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1058
    },
    "name": "2_2003"
  },
  "3_2003": {
    "data": "MTOMcsvOutput_mar03.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1060
    },
    "name": "3_2003"
  },
  "4_2003": {
    "data": "MTOMcsvOutput_apr03.csv",
    "mrids": {
      "max": 1269,
      "min": 1267,
      "most": 1268
    },
    "name": "4_2003"
  },
  "5_2003": {
    "data": "MTOMcsvOutput_may03.csv",
    "mrids": {
      "max": 1272,
      "min": 1274,
      "most": 1273
    },
    "name": "5_2003"
  },
  "6_2003": {
    "data": "MTOMcsvOutput_jun03.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1276
    },
    "name": "6_2003"
  },
  "7_2003": {
    "data": "MTOMcsvOutput_jul03.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1278
    },
    "name": "7_2003"
  },
  "8_2003": {
    "data": "MTOMcsvOutput_aug03.csv",
    "mrids": {
      "max": 1282,
      "min": 1283,
      "most": 1284
    },
    "name": "8_2003"
  },
  "9_2003": {
    "data": "MTOMcsvOutput_sep03.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1286
    },
    "name": "9_2003"
  }
}