{
  "10_2006": {
    "data": "ESPcsvOutput_oct06.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1651
    },
    "name": "10_2006"
  },
  "11_2006": {
    "data": "ESPcsvOutput_nov06.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1653
    },
    "name": "11_2006"
  },
  "12_2006": {
    "data": "ESPcsvOutput_dec06.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1655
    },
    "name": "12_2006"
  },
  "1_2006": {
    "data": "ESPcsvOutput_jan06.csv",
    "mrids": {
      "max": 1491,
      "min": 1489,
      "most": 1486
    },
    "name": "1_2006"
  },
  "2_2006": {
    "data": "ESPcsvOutput_feb06.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1493
    },
    "name": "2_2006"
  },
  "3_2006": {
    "data": "ESPcsvOutput_mar06.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1495
    },
    "name": "3_2006"
  },
  "4_2006": {
    "data": "ESPcsvOutput_apr06.csv",
    "mrids": {
      "max": 1601,
      "min": 1500,
      "most": 1497
    },
    "name": "4_2006"
  },
  "5_2006": {
    "data": "ESPcsvOutput_may06.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1603
    },
    "name": "5_2006"
  },
  "6_2006": {
    "data": "ESPcsvOutput_jun06.csv",
    "mrids": {
      "max": 1609,
      "min": 1610,
      "most": 1607
    },
    "name": "6_2006"
  },
  "7_2006": {
    "data": "ESPcsvOutput_jul06.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1612
    },
    "name": "7_2006"
  },
  "8_2006": {
    "data": "ESPcsvOutput_aug06.csv",
    "mrids": {
      "max": 1619,
      "min": 1618,
      "most": 1617
    },
    "name": "8_2006"
  },
  "9_2006": {
    "data": "ESPcsvOutput_sep06.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1628
    },
    "name": "9_2006"
  }
}