{
  "10_2004": {
    "data": "MTOMcsvOutput_oct04.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1423
    },
    "name": "10_2004"
  },
  "11_2004": {
    "data": "MTOMcsvOutput_nov04.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1424
    },
    "name": "11_2004"
  },
  "12_2004": {
    "data": "MTOMcsvOutput_dec04.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1425
    },
    "name": "12_2004"
  },
  "1_2004": {
    "data": "MTOMcsvOutput_jan04.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1295
    },
    "name": "1_2004"
  },
  "2_2004": {
    "data": "MTOMcsvOutput_feb04.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1299
    },
    "name": "2_2004"
  },
  "3_2004": {
    "data": "MTOMcsvOutput_mar04.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1300
    },
    "name": "3_2004"
  },
  "4_2004": {
    "data": "MTOMcsvOutput_apr04.csv",
    "mrids": {
      "max": 1407,
      "min": 1406,
      "most": 1402
    },
    "name": "4_2004"
  },
  "5_2004": {
    "data": "MTOMcsvOutput_may04.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1409
    },
    "name": "5_2004"
  },
  "6_2004": {
    "data": "MTOMcsvOutput_jun04.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1411
    },
    "name": "6_2004"
  },
  "7_2004": {
    "data": "MTOMcsvOutput_jul04.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1413
    },
    "name": "7_2004"
  },
  "8_2004": {
    "data": "MTOMcsvOutput_aug04.csv",
    "mrids": {
      "max": 1419,
      "min": 1418,
      "most": 1417
    },
    "name": "8_2004"
  },
  "9_2004": {
    "data": "MTOMcsvOutput_sep04.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1421
    },
    "name": "9_2004"
  }
}