{
  "10_2017": {
    "data": "MTOMcsvOutput_oct17.csv",
    "mrids": {
      "max": 3046,
      "min": 3045,
      "most": 3044
    },
    "name": "10_2017"
  },
  "11_2017": {
    "data": "MTOMcsvOutput_nov17.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3047
    },
    "name": "11_2017"
  },
  "12_2017": {
    "data": "MTOMcsvOutput_dec17.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3048
    },
    "name": "12_2017"
  },
  "1_2017": {
    "data": "MTOMcsvOutput_jan17.csv",
    "mrids": {
      "max": 3024,
      "min": 3023,
      "most": 3022
    },
    "name": "1_2017"
  },
  "2_2017": {
    "data": "MTOMcsvOutput_feb17.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3027
    },
    "name": "2_2017"
  },
  "3_2017": {
    "data": "MTOMcsvOutput_mar17.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3029
    },
    "name": "3_2017"
  },
  "4_2017": {
    "data": "MTOMcsvOutput_apr17.csv",
    "mrids": {
      "max": 3033,
      "min": 3032,
      "most": 3031
    },
    "name": "4_2017"
  },
  "5_2017": {
    "data": "MTOMcsvOutput_may17.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3035
    },
    "name": "5_2017"
  },
  "6_2017": {
    "data": "MTOMcsvOutput_jun17.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3036
    },
    "name": "6_2017"
  },
  "7_2017": {
    "data": "MTOMcsvOutput_jul17.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3037
    },
    "name": "7_2017"
  },
  "8_2017": {
    "data": "MTOMcsvOutput_aug17.csv",
    "mrids": {
      "max": 3041,
      "min": 3040,
      "most": 3039
    },
    "name": "8_2017"
  },
  "9_2017": {
    "data": "MTOMcsvOutput_sep17.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3043
    },
    "name": "9_2017"
  }
}