{
  "10_2014": {
    "data": "MTOMcsvOutput_oct14.csv",
    "mrids": {
      "max": 2182,
      "min": 2181,
      "most": 2180
    },
    "name": "10_2014"
  },
  "11_2014": {
    "data": "MTOMcsvOutput_nov14.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2183
    },
    "name": "11_2014"
  },
  "12_2014": {
    "data": "MTOMcsvOutput_dec14.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2184
    },
    "name": "12_2014"
  },
  "1_2014": {
    "data": "MTOMcsvOutput_jan14.csv",
    "mrids": {
      "max": 2163,
      "min": 2162,
      "most": 2161
    },
    "name": "1_2014"
  },
  "2_2014": {
    "data": "MTOMcsvOutput_feb14.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2164
    },
    "name": "2_2014"
  },
  "3_2014": {
    "data": "MTOMcsvOutput_mar14.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2165
    },
    "name": "3_2014"
  },
  "4_2014": {
    "data": "MTOMcsvOutput_apr14.csv",
    "mrids": {
      "max": 2169,
      "min": 2168,
      "most": 2167
    },
    "name": "4_2014"
  },
  "5_2014": {
    "data": "MTOMcsvOutput_may14.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2170
    },
    "name": "5_2014"
  },
  "6_2014": {
    "data": "MTOMcsvOutput_jun14.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2172
    },
    "name": "6_2014"
  },
  "7_2014": {
    "data": "MTOMcsvOutput_jul14.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2174
    },
    "name": "7_2014"
  },
  "8_2014": {
    "data": "MTOMcsvOutput_aug14.csv",
    "mrids": {
      "max": 2176,
      "min": 2177,
      "most": 2175
    },
    "name": "8_2014"
  },
  "9_2014": {
    "data": "MTOMcsvOutput_sep14.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2179
    },
    "name": "9_2014"
  }
}