{
  "10_2012": {
    "data": "MTOMcsvOutput_oct12.csv",
    "mrids": {
      "max": 2132,
      "min": 2131,
      "most": 2130
    },
    "name": "10_2012"
  },
  "11_2012": {
    "data": "MTOMcsvOutput_nov12.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2133
    },
    "name": "11_2012"
  },
  "12_2012": {
    "data": "MTOMcsvOutput_dec12.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2135
    },
    "name": "12_2012"
  },
  "1_2012": {
    "data": "MTOMcsvOutput_jan12.csv",
    "mrids": {
      "max": 2116,
      "min": 2117,
      "most": 2115
    },
    "name": "1_2012"
  },
  "2_2012": {
    "data": "MTOMcsvOutput_feb12.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2118
    },
    "name": "2_2012"
  },
  "3_2012": {
    "data": "MTOMcsvOutput_mar12.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2119
    },
    "name": "3_2012"
  },
  "4_2012": {
    "data": "MTOMcsvOutput_apr12.csv",
    "mrids": {
      "max": 2122,
      "min": 2121,
      "most": 2120
    },
    "name": "4_2012"
  },
  "5_2012": {
    "data": "MTOMcsvOutput_may12.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2123
    },
    "name": "5_2012"
  },
  "6_2012": {
    "data": "MTOMcsvOutput_jun12.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2124
    },
    "name": "6_2012"
  },
  "7_2012": {
    "data": "MTOMcsvOutput_jul12.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2125
    },
    "name": "7_2012"
  },
  "8_2012": {
    "data": "MTOMcsvOutput_aug12.csv",
    "mrids": {
      "max": 2128,
      "min": 2127,
      "most": 2126
    },
    "name": "8_2012"
  },
  "9_2012": {
    "data": "MTOMcsvOutput_sep12.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2129
    },
    "name": "9_2012"
  }
}