{
  "1_2019": {
    "mrids":{"max": 3084, "most": 3083, "min": 3082},
    "data": "MTOMcsvOutput_jan20.csv",
    "name": "1_2019"
  },
  "2_2019": {
    "mrids":{"max": null, "most": 3085, "min": null},
    "data": "MTOMcsvOutput_feb20.csv",
    "name": "2_2019"
  },
  "3_2019": {
    "mrids":{"max": null, "most": 3086, "min": null},
    "data": "MTOMcsvOutput_mar20.csv",
    "name": "3_2019"
  },
  "4_2019": {
    "mrids":{"max": 3089, "most": 3088, "min": 3090},
    "data": "MTOMcsvOutput_apr20.csv",
    "name": "4_2019"
  },
  "5_2019": {
    "mrids":{"max": null, "most": 3092, "min": null},
    "data": "MTOMcsvOutput_may20.csv",
    "name": "5_2019"
  },
  "6_2019": {
    "mrids":{"max": null, "most": 3095, "min": null},
    "data": "MTOMcsvOutput_jun20.csv",
    "name": "6_2019"
  },
  "7_2019": {
    "mrids":{"max": null, "most": 3096, "min": null},
    "data": "MTOMcsvOutput_jul20.csv",
    "name": "7_2019"
  },
  "8_2019": {
    "mrids":{"max": 3099, "most": 3097, "min": 3098},
    "data": "MTOMcsvOutput_aug20.csv",
    "name": "8_2019"
  },
  "9_2019": {
    "mrids":{"max": null, "most": 3102, "min": null},
    "data": "MTOMcsvOutput_sep20.csv",
    "name": "9_2019"
  },
  "10_2019": {
    "mrids":{"max": 3105, "most": 3103, "min": 3104},
    "data": "MTOMcsvOutput_oct20.csv",
    "name": "10_2019"
  },
  "11_2019": {
    "mrids":{"max": null, "most": 3106, "min": null},
    "data": "MTOMcsvOutput_nov20.csv",
    "name": "11_2019"
  },
  "12_2019": {
    "mrids":{"max": null, "most": 3107, "min": null},
    "data": "MTOMcsvOutput_dec20.csv",
    "name": "12_2019"
  }
}