{
  "10_1999": {
    "data": "MTOMcsvOutput_oct99.csv",
    "mrids": {
      "max": 279,
      "min": 280,
      "most": 278
    },
    "name": "10_1999"
  },
  "11_1999": {
    "data": "MTOMcsvOutput_nov99.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 284
    },
    "name": "11_1999"
  },
  "12_1999": {
    "data": "MTOMcsvOutput_dec99.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 291
    },
    "name": "12_1999"
  },
  "1_1999": {
    "data": "MTOMcsvOutput_jan99.csv",
    "mrids": {
      "max": 247,
      "min": 248,
      "most": 244
    },
    "name": "1_1999"
  },
  "2_1999": {
    "data": "MTOMcsvOutput_feb99.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 251
    },
    "name": "2_1999"
  },
  "3_1999": {
    "data": "MTOMcsvOutput_mar99.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 253
    },
    "name": "3_1999"
  },
  "4_1999": {
    "data": "MTOMcsvOutput_apr99.csv",
    "mrids": {
      "max": null,
      "min": 259,
      "most": null
    },
    "name": "4_1999"
  },
  "5_1999": {
    "data": "MTOMcsvOutput_may99.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 261
    },
    "name": "5_1999"
  },
  "6_1999": {
    "data": "MTOMcsvOutput_jun99.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 265
    },
    "name": "6_1999"
  },
  "7_1999": {
    "data": "MTOMcsvOutput_jul99.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 270
    },
    "name": "7_1999"
  },
  "8_1999": {
    "data": "MTOMcsvOutput_aug99.csv",
    "mrids": {
      "max": 273,
      "min": null,
      "most": 272
    },
    "name": "8_1999"
  },
  "9_1999": {
    "data": "MTOMcsvOutput_sep99.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 276
    },
    "name": "9_1999"
  }
}