{
  "10_2009": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": 2037,
      "min": 2036,
      "most": 2035
    },
    "name": "10_2009"
  },
  "11_2009": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2040
    },
    "name": "11_2009"
  },
  "12_2009": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2042
    },
    "name": "12_2009"
  },
  "1_2009": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2016
    },
    "name": "1_2009"
  },
  "2_2009": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2018
    },
    "name": "2_2009"
  },
  "3_2009": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2019
    },
    "name": "3_2009"
  },
  "4_2009": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": 2021,
      "min": 2022,
      "most": 2020
    },
    "name": "4_2009"
  },
  "5_2009": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2023
    },
    "name": "5_2009"
  },
  "6_2009": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2024
    },
    "name": "6_2009"
  },
  "7_2009": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2025
    },
    "name": "7_2009"
  },
  "8_2009": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": 2027,
      "min": 2028,
      "most": 2026
    },
    "name": "8_2009"
  },
  "9_2009": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2033
    },
    "name": "9_2009"
  }
}