{
  "10_2019": {
    "data": "MTOMcsvOutput_oct19.csv",
    "mrids": {
      "max": 3105,
      "min": 3104,
      "most": 3103
    },
    "name": "10_2019"
  },
  "11_2019": {
    "data": "MTOMcsvOutput_nov19.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3106
    },
    "name": "11_2019"
  },
  "12_2019": {
    "data": "MTOMcsvOutput_dec19.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3107
    },
    "name": "12_2019"
  },
  "1_2019": {
    "data": "MTOMcsvOutput_jan19.csv",
    "mrids": {
      "max": 3084,
      "min": 3082,
      "most": 3083
    },
    "name": "1_2019"
  },
  "2_2019": {
    "data": "MTOMcsvOutput_feb19.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3085
    },
    "name": "2_2019"
  },
  "3_2019": {
    "data": "MTOMcsvOutput_mar19.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3086
    },
    "name": "3_2019"
  },
  "4_2019": {
    "data": "MTOMcsvOutput_apr19.csv",
    "mrids": {
      "max": 3089,
      "min": 3090,
      "most": 3088
    },
    "name": "4_2019"
  },
  "5_2019": {
    "data": "MTOMcsvOutput_may19.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3092
    },
    "name": "5_2019"
  },
  "6_2019": {
    "data": "MTOMcsvOutput_jun19.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3095
    },
    "name": "6_2019"
  },
  "7_2019": {
    "data": "MTOMcsvOutput_jul19.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3096
    },
    "name": "7_2019"
  },
  "8_2019": {
    "data": "MTOMcsvOutput_aug19.csv",
    "mrids": {
      "max": 3099,
      "min": 3098,
      "most": 3097
    },
    "name": "8_2019"
  },
  "9_2019": {
    "data": "MTOMcsvOutput_sep19.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3102
    },
    "name": "9_2019"
  }
}