{
  "10_2015": {
    "data": "MTOMcsvOutput_oct15.csv",
    "mrids": {
      "max": 2209,
      "min": 2208,
      "most": 2207
    },
    "name": "10_2015"
  },
  "11_2015": {
    "data": "MTOMcsvOutput_nov15.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2210
    },
    "name": "11_2015"
  },
  "12_2015": {
    "data": "MTOMcsvOutput_dec15.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2212
    },
    "name": "12_2015"
  },
  "1_2015": {
    "data": "MTOMcsvOutput_jan15.csv",
    "mrids": {
      "max": 2188,
      "min": 2187,
      "most": 2186
    },
    "name": "1_2015"
  },
  "2_2015": {
    "data": "MTOMcsvOutput_feb15.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2191
    },
    "name": "2_2015"
  },
  "3_2015": {
    "data": "MTOMcsvOutput_mar15.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2192
    },
    "name": "3_2015"
  },
  "4_2015": {
    "data": "MTOMcsvOutput_apr15.csv",
    "mrids": {
      "max": 2196,
      "min": 2195,
      "most": 2194
    },
    "name": "4_2015"
  },
  "5_2015": {
    "data": "MTOMcsvOutput_may15.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2197
    },
    "name": "5_2015"
  },
  "6_2015": {
    "data": "MTOMcsvOutput_jun15.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2199
    },
    "name": "6_2015"
  },
  "7_2015": {
    "data": "MTOMcsvOutput_jul15.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2200
    },
    "name": "7_2015"
  },
  "8_2015": {
    "data": "MTOMcsvOutput_aug15.csv",
    "mrids": {
      "max": 2203,
      "min": 2202,
      "most": 2201
    },
    "name": "8_2015"
  },
  "9_2015": {
    "data": "MTOMcsvOutput_sep15.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2205
    },
    "name": "9_2015"
  }
}