{
  "10_2016": {
    "data": "MTOMcsvOutput_oct16.csv",
    "mrids": {
      "max": 3019,
      "min": 3018,
      "most": 3017
    },
    "name": "10_2016"
  },
  "11_2016": {
    "data": "MTOMcsvOutput_nov16.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3020
    },
    "name": "11_2016"
  },
  "12_2016": {
    "data": "MTOMcsvOutput_dec16.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3021
    },
    "name": "12_2016"
  },
  "1_2016": {
    "data": "MTOMcsvOutput_jan16.csv",
    "mrids": {
      "max": 3003,
      "min": 3002,
      "most": 3001
    },
    "name": "1_2016"
  },
  "2_2016": {
    "data": "MTOMcsvOutput_feb16.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3004
    },
    "name": "2_2016"
  },
  "3_2016": {
    "data": "MTOMcsvOutput_mar16.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3005
    },
    "name": "3_2016"
  },
  "4_2016": {
    "data": "MTOMcsvOutput_apr16.csv",
    "mrids": {
      "max": 3008,
      "min": 3007,
      "most": 3006
    },
    "name": "4_2016"
  },
  "5_2016": {
    "data": "MTOMcsvOutput_may16.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3009
    },
    "name": "5_2016"
  },
  "6_2016": {
    "data": "MTOMcsvOutput_jun16.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3010
    },
    "name": "6_2016"
  },
  "7_2016": {
    "data": "MTOMcsvOutput_jul16.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3011
    },
    "name": "7_2016"
  },
  "8_2016": {
    "data": "MTOMcsvOutput_aug16.csv",
    "mrids": {
      "max": 3014,
      "min": 3013,
      "most": 3012
    },
    "name": "8_2016"
  },
  "9_2016": {
    "data": "MTOMcsvOutput_sep16.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 3016
    },
    "name": "9_2016"
  }
}