{
  "10_2008": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": 2013,
      "min": 2014,
      "most": 2011
    },
    "name": "10_2008"
  },
  "11_2008": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2012
    },
    "name": "11_2008"
  },
  "12_2008": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2015
    },
    "name": "12_2008"
  },
  "1_2008": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": 1700,
      "min": 1803,
      "most": 1699
    },
    "name": "1_2008"
  },
  "2_2008": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1805
    },
    "name": "2_2008"
  },
  "3_2008": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1808
    },
    "name": "3_2008"
  },
  "4_2008": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": 2001,
      "min": 2002,
      "most": 2000
    },
    "name": "4_2008"
  },
  "5_2008": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2004
    },
    "name": "5_2008"
  },
  "6_2008": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2005
    },
    "name": "6_2008"
  },
  "7_2008": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2006
    },
    "name": "7_2008"
  },
  "8_2008": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": 2008,
      "min": 2009,
      "most": 2007
    },
    "name": "8_2008"
  },
  "9_2008": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2010
    },
    "name": "9_2008"
  }
}