{
  "10_2007": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1692
    },
    "name": "10_2007"
  },
  "11_2007": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1694
    },
    "name": "11_2007"
  },
  "12_2007": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1696
    },
    "name": "12_2007"
  },
  "1_2007": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": 1661,
      "min": 1660,
      "most": 1659
    },
    "name": "1_2007"
  },
  "2_2007": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1663
    },
    "name": "2_2007"
  },
  "3_2007": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1665
    },
    "name": "3_2007"
  },
  "4_2007": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": 1670,
      "min": 1671,
      "most": 1667
    },
    "name": "4_2007"
  },
  "5_2007": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1673
    },
    "name": "5_2007"
  },
  "6_2007": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1676
    },
    "name": "6_2007"
  },
  "7_2007": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1678
    },
    "name": "7_2007"
  },
  "8_2007": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": 1686,
      "min": 1688,
      "most": 1684
    },
    "name": "8_2007"
  },
  "9_2007": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 1690
    },
    "name": "9_2007"
  }
}