{
  "10_2010": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": 2077,
      "min": 2076,
      "most": 2075
    },
    "name": "10_2010"
  },
  "11_2010": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2080
    },
    "name": "11_2010"
  },
  "12_2010": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2082
    },
    "name": "12_2010"
  },
  "1_2010": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": 2046,
      "min": 2047,
      "most": 2045
    },
    "name": "1_2010"
  },
  "2_2010": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2050
    },
    "name": "2_2010"
  },
  "3_2010": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": 2052,
      "min": 2053,
      "most": 2051
    },
    "name": "3_2010"
  },
  "4_2010": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": 2056,
      "min": 2055,
      "most": 2054
    },
    "name": "4_2010"
  },
  "5_2010": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2058
    },
    "name": "5_2010"
  },
  "6_2010": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2060
    },
    "name": "6_2010"
  },
  "7_2010": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2063
    },
    "name": "7_2010"
  },
  "8_2010": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": 2066,
      "min": 2067,
      "most": 2065
    },
    "name": "8_2010"
  },
  "9_2010": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2069
    },
    "name": "9_2010"
  }
}