{
  "10_1998": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 233
    },
    "name": "10_1998"
  },
  "11_1998": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 239
    },
    "name": "11_1998"
  },
  "12_1998": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 242
    },
    "name": "12_1998"
  },
  "1_1998": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 90
    },
    "name": "1_1998"
  },
  "2_1998": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 98
    },
    "name": "2_1998"
  },
  "3_1998": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": 204,
      "min": 205,
      "most": 100
    },
    "name": "3_1998"
  },
  "4_1998": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 209
    },
    "name": "4_1998"
  },
  "5_1998": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 217
    },
    "name": "5_1998"
  },
  "6_1998": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 222
    },
    "name": "6_1998"
  },
  "7_1998": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 225
    },
    "name": "7_1998"
  },
  "8_1998": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": 228,
      "min": 229,
      "most": 227
    },
    "name": "8_1998"
  },
  "9_1998": {
    "data": "dummy_MTOM_data.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 233
    },
    "name": "9_1998"
  }
}