{
  "10_2013": {
    "data": "ESPcsvOutput_oct13.csv",
    "mrids": {
      "max": 2158,
      "min": 2157,
      "most": 2156
    },
    "name": "10_2013"
  },
  "11_2013": {
    "data": "ESPcsvOutput_nov13.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2159
    },
    "name": "11_2013"
  },
  "12_2013": {
    "data": "ESPcsvOutput_dec13.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2160
    },
    "name": "12_2013"
  },
  "1_2013": {
    "data": "ESPcsvOutput_jan13.csv",
    "mrids": {
      "max": 2138,
      "min": 2137,
      "most": 2136
    },
    "name": "1_2013"
  },
  "2_2013": {
    "data": "ESPcsvOutput_feb13.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2139
    },
    "name": "2_2013"
  },
  "3_2013": {
    "data": "ESPcsvOutput_mar13.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2140
    },
    "name": "3_2013"
  },
  "4_2013": {
    "data": "ESPcsvOutput_apr13.csv",
    "mrids": {
      "max": 2142,
      "min": 2143,
      "most": 2141
    },
    "name": "4_2013"
  },
  "5_2013": {
    "data": "ESPcsvOutput_may13.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2145
    },
    "name": "5_2013"
  },
  "6_2013": {
    "data": "ESPcsvOutput_jun13.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2147
    },
    "name": "6_2013"
  },
  "7_2013": {
    "data": "ESPcsvOutput_jul13.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2148
    },
    "name": "7_2013"
  },
  "8_2013": {
    "data": "ESPcsvOutput_aug13.csv",
    "mrids": {
      "max": 2153,
      "min": 2152,
      "most": 2151
    },
    "name": "8_2013"
  },
  "9_2013": {
    "data": "ESPcsvOutput_sep13.csv",
    "mrids": {
      "max": null,
      "min": null,
      "most": 2155
    },
    "name": "9_2013"
  }
}